@model VehicleType

<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            background-image: url("/images/bgImage/bgi (6).jpg");
            background-size: cover;

        }
    </style>
</head>
<body>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-uppercase text-center">Edit Vehicle Type</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 border-5 border">
                <form method="post" enctype="multipart/form-data">

                    <div class="mb-3">
                        <label asp-for="@Model.Name" class="form-label"></label>
                        <input asp-for="@Model.Name" class="form-control" />
                        <span asp-validation-for="@Model.Name" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <a asp-area="Admin" asp-controller="VehicleType" asp-action="Index" class="btn btn-danger">back</a>
                        <button type="submit" class="btn btn-warning" style="Width:150px">Update</button>

                    </div>
                </form>
            </div>

        </div>
    </div>
    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }

</body>
</html>
